# Ignorar todo por defecto
*

# Permitir solo las rutas exactas solicitadas
!/Game.locres
!/Traduccion\ Enginefall/dist/TraduccionEnginefall.exe

# Permitir el propio archivo .gitignore
!.gitignore

# Permitir directorios necesarios (sin esto Git no entraría a buscar el .exe)
!/Traduccion\ Enginefall/
!/Traduccion\ Enginefall/dist/
